.note{
    display:inline-block;
    border: 1px solid;
    border-color: #000000;
    width: 150px; 
    height: 150px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: lightyellow;
    overflow: auto;
    float:left;
    position:absolute;
}


.actionButtons{
    float: right;
    margin-top: 60%;
    margin-right:2%;
}

.remove-button{
    margin-left:3px;
}